HotOG/bin/
HotOG/obj/
HotOG/packages/
HotOG/HotOG.v11.suo
HotOG/CC.Model/bin/
HotOG/CC.Model/obj/
HotOG/CC.Model/packages/
HotOG/CC.DataAccess/bin/
HotOG/CC.DataAccess/obj/
HotOG/CC.DataAccess/packages/

